.expense-form {
  font-family: Arial, sans-serif;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .expense-form {
  background-color: #333;
  color: #fff;
}

h2 {
  color: #333;
  text-align: center;
}

.dark-mode h2 {
  color: #fff;
}

.form-field {
  margin-bottom: 15px;
}

.form-field input {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.dark-mode .form-field input {
  background-color: #444;
  color: #fff;
  border-color: #555;
}

.form-field .remove-field {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.form-field .remove-field:hover {
  background-color: #e64a19;
}

.dark-mode .form-field .remove-field {
  background-color: #e64a19;
}

.dark-mode .form-field .remove-field:hover {
  background-color: #b33c00;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.add-field {
  background-color: #66b3ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-field:hover {
  background-color: #3380e0;
}

.dark-mode .add-field {
  background-color: #5a5a5a;
}

.dark-mode .add-field:hover {
  background-color: #333;
}

.form-submit {
  background-color: #66b3ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #3380e0;
}

.dark-mode .form-submit {
  background-color: #5a5a5a;
}

.dark-mode .form-submit:hover {
  background-color: #333;
}

.status-message {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

.dark-mode .status-message {
  color: #fff;
}

.status-message.error {
  color: red;
}

.node.income {
  fill: #ff6600;
}

.node.leftover {
  fill: #339900;
}
